@use "@sebban/styles" as *;

.main-content {
  &__container {
    border-radius: $radius-l;
    background-color: linear-gradient(
      180deg,
      #111c3a 0%,
      #1a2d5d 79.5%,
      #152242 100%
    );
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
  }
}
